{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'guest_book_view' guest_book.pk %}">Назад</a></li>
{% endblock %}

{% block content %}
    <h1>Вы уверены, что хотите удалить запись "{{ guest_book.name }}"?</h1>
    <form action="{% url "guest_book_delete" guest_book.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Yes"></p>
{#        <p><a href="{% url 'guest_book_view' guest_book.pk %}">Нет</a></p>#}
    </form>
    <form action="{% url 'index' %}" target="_blank">
   <button class="but">Нет</button>
  </form>
{% endblock %}